:root{
    --primary-color: #1c1c1e;
    --secondary-color: #000000;
    --tertiary-color: rgba(28,28,30,255);
    --text-color: #ffffff;
    --primary-accent-color: #0b84fe;
    --secondary-accent-color: #2ed158;
    --gray-color: rgba(30, 30, 31, 255);
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* outline: rgba(28,28,30,255) solid 1px; */
}
body{
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
    background-color: var(--secondary-color);
    color: var(--text-color);
}
.spacing{
    width: 70%;
    margin: 0 auto;
}
.text-spacing{
    width: 90%;
    margin: 0 auto;
}
#ham-menu,
#toggle-theme{ font-size: 2rem; }
#not-available {color: gray;}
/* General */
p,
h1,
h2,
h3,
ul,
li{
    margin: 0;
    padding: 0;
}
a{
    color: var(--text-color);
    text-decoration: none;
}
/* Navbar */
.navbar{
    position: fixed;
    top: 0;
    width: 100%;

    backdrop-filter: blur(7px);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar > i {
    margin: 0 .7em;
    cursor: pointer;
}
.back-btn{
    display: flex;
    align-items: center;
    color: var(--primary-accent-color);
}
#back-arrow{ font-size: 2.5rem; }
#toggle-theme{ font-size: 1.5rem; }

/* Name Showcase */
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 3em;
    padding-bottom: 3em;
}
.name-showcase{
    display: flex;
    flex-direction: column;
    outline: 3px var(--text-color) solid;
    padding: 1em 0;
}
.name-showcase > p{
    font-size: 2.5rem;
    letter-spacing: 5px;
    font-weight: 700;
    text-align: center;
}
.motto{
    margin-top: 2em;
    letter-spacing: 3px;
    font-size: .8em;
    text-align: center;
}
.blue-accent{
    color: var(--primary-accent-color);
    font-weight: 700;
}
/* User options */
.user-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.user-menu > a{
    display: flex;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    transition: background-color ease-out 1s;
}
.user-menu > a:hover{
    background-color: var(--secondary-accent-color);
    color: #fff;
    border-radius: 5px;
}
.user-options{
    display: flex;
    justify-content: space-between;
}
.user-options > p{ font-size: .8em; }
.user-menu-options-underline{ border-bottom: 1px solid var(--gray-color); /* Need to adjust this */ }
/* Layout main screen */
.root{
    display: flex;
    flex-direction: column;
    height: 100vh;

}
.article-body{
    margin-bottom: 4em;
}
.header{ height: 50%; }
.user-menu{
    height: 50%;
    width: 100%;
    margin: 0 auto;
}
.site-footer{
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;

    position: fixed;
    bottom: 0;
    width: 100%;

    backdrop-filter: blur(7px);
}
.disclaimer-text{
    color: gray;
}

/*Articles Layout*/
.article-main-section{
    display: flex;
    flex-direction: column;
    
    margin-top: 4em;
    height: 90%;
    margin-bottom: 1em;
}
.link{
    display: block;
    margin-top: 1em;
    color: var(--primary-accent-color);
    background-color: var(--primary-color);
    border-radius: 14px;
    padding: 1em 1em 1em 0;
    text-align: center;
}
/* Contact me */
.contact-me-title{ margin-bottom: 1em; }
.type-of-communication{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    background-color: var(--primary-color);
    padding: 1em;
    border-radius: 1em;
}
.my-email-field{
    display: inline-block;
    background-color: var(--secondary-color);
    color: var(--primary-accent-color);
    padding: .5em;
    border-radius: 14px;
    margin-top: .3em;
}
.social-media-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* Contact me - Social Media Icons */
.social-media-icon { display: inline-block; }
svg {width: 5em;}
.facebook{ filter: invert(36%) sepia(67%) saturate(547%) hue-rotate(182deg) brightness(92%) contrast(88%); }
.linkedin{ filter: invert(28%) sepia(81%) saturate(1654%) hue-rotate(178deg) brightness(92%) contrast(101%); }
.github{ filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(275deg) brightness(102%) contrast(113%); }
.twitter{ filter: invert(55%) sepia(88%) saturate(2874%) hue-rotate(163deg) brightness(96%) contrast(103%); }
.youtube{ filter: invert(9%) sepia(70%) saturate(6089%) hue-rotate(346deg) brightness(103%) contrast(102%); }

/*Carrer layout*/
.job-showcase{
    display: flex;
    flex-direction: column;

    background-color: var(--primary-color);
    border-radius: 14px;
    padding: .6em;
    margin-top: 1em;
}
.company-title{
    font-size: 1.1rem;
    font-weight: 700;
}
.company-timeframe{
    font-size: .7rem;
    color: gray;  /* To be changed */
}
.location{
    margin-top: 1em;
    margin-bottom: 1em;
}
.work-achievements{
    margin-left: 1em;
}
.work-achievements > li{
    margin-top: .2em;
    margin-bottom: .2em;
}